@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--light-navy);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background color */
  --aqua: #00d8ff;
  --aqua-rgb: 0, 216, 255;
  --red: #E21818;
  --red-rgb: 226, 24, 24;
  --white: #FFFFFF;
  --white-20: #E6F1FF;
  --white-rgb: 255, 255, 255;
  --black: #000000;
  --black-rgb: 0, 0, 0;
  --gray-05: #F2F3F5;
  --gray-10: #EBEDF0;
  --gray-20: #DADDE1;
  --gray-25: #CCD0D5;
  --gray-30: #BEC3C9;
  --gray-45: #8d949e;
  --gray-50: #828282;
  --gray-70: #606770;
  --gray-80: #444950;
  --gray-90: #303338;
  --gray-100: #1C1E21;
  --gray-rgb: 141, 148, 158;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --navy-rgb: 10, 25, 47;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --lightest-navy-rgb: 35, 53, 84;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --slate-aside-even: #5d6874;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --blue: #57cbff;
  --overlay-dark: rgba(0, 0, 0, 0.5);

  /* backdrop filter */
  --filter: blur(10px);

  /* text color */
  --text-lightDark: #cfcccc;
  --text-lightDark-rgb: 201, 195, 195;

  /* text-sizes */
  --font-card-title: clamp(18px, 2.5vw, 1.5rem);
  --font-card-description: clamp(12px, 2vw, 1rem);

  /* text shadow */
  --ts-white-black: 0 0 4px rgba(var(--black-rgb), 0.5);
  --ts-whiteup-blackdown: 4px -4px 10px rgba(var(--white-rgb), 0.75),
    -4px 4px 10px rgba(var(--black-rgb), 0.45);

  /* box shadow */
  --bs-lightBlue: 0 0 4px 2px var(--aqua);
  --bs-cards: 0 0 4px 0 rgba(var(--black-rgb), .5);
  --bs-cards-lup-ddown: 4px -4px 10px 0 rgba(var(--white-rgb), 0.75),
    -4px 4px 10px 0 rgba(var(--black-rgb), 0.45);

  /* transition */
  --transition: all 350ms ease-in-out;

  /* gap */
  --gap: 10px;

  /* banner shadow */
  --bs-banner-1: -4px 4px 10px 0 rgba(0, 0, 0, .35) , 4px -4px 10px 0 rgba(255, 255, 255, .2) ;
  --bs-banner-2: 4px -4px 10px 0 rgba(0, 0, 0, .35) , -4px 4px 10px 0 rgba(255, 255, 255, .2) ;
  --bs-banner-1-inset: -4px 4px 10px 0 rgba(0, 0, 0, .35) inset, 4px -4px 10px 0 rgba(255, 255, 255, .2) inset;
}

#root{
  position: relative;
  width: 100%;
  margin: auto;
}

#app-logo {
  &::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: -1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--aqua);
    box-shadow: var(--bs-lightBlue);

    @media (width >= 640px) {
      width: 60px;
      height: 60px;
    }
  }
}

#navigation ul li {
  /* position: relative; */
}
.navLink-hover::after, .navLink-hover::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  background-color: var(--red);
  transition: var(--transition);
}

.navLink-hover::before {
  left: 50%;
  transform: translateX(-50%);
}
.navLink-hover::after {
  right: 50%;
  transform: translateX(50%)
}
.navLink-hover:hover::before,
.navLink-hover:hover::after {
  width: 100%;
}

.mobile-btn {
  &.close-btn:nth-of-type(2) {
    opacity: 0;
    transform: translateX(20px);
    transition: var(--transition);
  }
  &.close-btn:first-of-type {
    transform: rotate(225deg) translate(-6px, -6px);
    transition: var(--transition);
  }
  &.close-btn:last-of-type {
    transform: rotate(-225deg) translate(-6px, 7px);
    transition: var(--transition);
  }
}

#loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--black-rgb), .5);
  z-index: 200;

  &::after {
    content: '';
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background-color: var(--aqua);
    box-shadow: var(--bs-lightBlue);
    z-index: -1;
  }
  img {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .loader {
    position: fixed;
    width: 200px;
    height: 80px;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 100%;
    animation: 1.2s load infinite linear;
    z-index: 300;
  }
}

@keyframes load {
  0% {
    border-top: solid rgba(var(--aqua-rgb), .5) 2px;
    border-right: solid rgba(var(--aqua-rgb), .35) 3px;
    border-bottom: solid rgba(var(--aqua-rgb), .2) 5px;
    border-left: solid rgba(var(--aqua-rgb), 0) 3px;
  }

  25% {
    border-top: solid rgba(var(--aqua-rgb), .35) 2px;
    border-right: solid rgba(var(--aqua-rgb), .2) 3px;
    border-bottom: solid rgba(var(--aqua-rgb), 0) 5px;
    border-left: solid rgba(var(--aqua-rgb), .5) 3px;
  }

  50% {
    border-top: solid rgba(var(--aqua-rgb), .2) 2px;
    border-right: solid rgba(var(--aqua-rgb), 0) 3px;
    border-bottom: solid rgba(var(--aqua-rgb), .5) 5px;
    border-left: solid rgba(var(--aqua-rgb), .35) 3px;
  }

  75% {
    border-top: solid rgba(var(--aqua-rgb), 0) 2px;
    border-right: solid rgba(var(--aqua-rgb), .5) 3px;
    border-bottom: solid rgba(var(--aqua-rgb), .35) 5px;
    border-left: solid rgba(var(--aqua-rgb), .2) 3px;
  }

  100% {
    border-top: solid rgba(var(--aqua-rgb), .5) 2px;
    border-right: solid rgba(var(--aqua-rgb), .35) 3px;
    border-bottom: solid rgba(var(--aqua-rgb), .2) 5px;
    border-left: solid rgba(var(--aqua-rgb), 0) 3px;
  }
}

@keyframes spin {
  0% {
    border-top: solid rgba(var(--aqua-rgb), .5) 1px;
    border-right: solid rgba(var(--aqua-rgb), .35) 2px;
    border-bottom: solid rgba(var(--aqua-rgb), .2) 4px;
    border-left: solid rgba(var(--aqua-rgb), 0) 2px;
  }

  25% {
    border-top: solid rgba(var(--aqua-rgb), .35) 1px;
    border-right: solid rgba(var(--aqua-rgb), .2) 2px;
    border-bottom: solid rgba(var(--aqua-rgb), 0) 4px;
    border-left: solid rgba(var(--aqua-rgb), .5) 2px;
  }

  50% {
    border-top: solid rgba(var(--aqua-rgb), .2) 1px;
    border-right: solid rgba(var(--aqua-rgb), 0) 2px;
    border-bottom: solid rgba(var(--aqua-rgb), .5) 4px;
    border-left: solid rgba(var(--aqua-rgb), .35) 2px;
  }

  75% {
    border-top: solid rgba(var(--aqua-rgb), 0) 1px;
    border-right: solid rgba(var(--aqua-rgb), .5) 2px;
    border-bottom: solid rgba(var(--aqua-rgb), .35) 4px;
    border-left: solid rgba(var(--aqua-rgb), .2) 2px;
  }

  100% {
    border-top: solid rgba(var(--aqua-rgb), .5) 1px;
    border-right: solid rgba(var(--aqua-rgb), .35) 2px;
    border-bottom: solid rgba(var(--aqua-rgb), .2) 4px;
    border-left: solid rgba(var(--aqua-rgb), 0) 2px;
  }
}